.view-question-container {
  padding: 16px;
  min-height: 50%;
}
.button-wrapper {
  display: flex;
  gap: 24px;
  margin: 12px 0;
}
.edit-button {
  background-color: coral;
}
.delete-button {
  background-color: red;
}
