.modal-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
}
.modal-close-btn {
  max-width: 70px;
  margin: 12px;
  align-self: flex-end;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}
.modal-header-text {
  font-size: 18px;
  font-weight: 600;
}
