.header-container {
  padding: 16px;
  border: 1px solid lightblue;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
}
.header-label {
  font-weight: 600;
}
.header-main {
  background-color: #f6f7fb;
  z-index: 100;
  font-size: 1rem;
}
