body {
  margin: 0;
  font-family: monospace;
}

.qna-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main-content-container {
  display: flex;
}
.section-wrapper {
  width: 100%;
}

.modal-open-btn {
  display: none;
}
.mobile-question-icon {
  display: none;
}
@media (max-width: 768px) {
  .sidebar-container {
    display: none;
  }
  .mobile-question-icon {
    display: block;
  }

  .modal-open-btn {
    display: block;
  }
}
