.footer-container {
  padding: 8px;
  border: 1px solid lightblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  z-index: 100;
  align-items: center;
}
