.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition:
    background-color 0.3s,
    transform 0.2s;
  margin-left: 4px;
  border: none;
}

.submit-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.submit-button:active {
  transform: scale(0.95);
  background-color: #3e8e41;
}
.submit-button:disabled {
  transform: scale(0.95);
  background-color: grey;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
}
.sort-btn {
  padding: 6px;
  background-color: blue;
}
.delete-all-btn {
  padding: 6px;
  background-color: red;
}
.mobile-question-icon {
  padding: 8px;
  border: 1px solid lightblue;
  background-color: aqua;
  color: black;
}
.mobile-open-button {
  margin-right: 16px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 6px 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.home-page-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
